{% extends "base.html" %}
{%load static%}
{% block additional_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/all_recipes.css' %}">
{% endblock %}
{%block content%}
    <section>
        <h2>All recepies</h2>
        {% for dish in dishes %}
            <div class="recipe">
                <h3>{{ dish.dish_title }}</h3>
                <img src='{{dish.dish_image.url}}' alt='{{dish.dish_title}}'>
                <p>{{ dish.dish_ingredients|safe }}</p>
                <a href={% url 'main:detail_recipe' pk=dish.pk %}>View Recipe</a>
            </div>
        {% endfor %}
{% endblock %}
