{% extends "base.html" %}
{% block additional_head %}
    <style>
        .recipe {
            background-color: #FFFDD0;
            border: 1px solid #ddd;
            padding: 20px;
            margin: 10px 0; /* Add margin to separate recipes vertically */
            border-radius: 5px;
        }

        .recipe h3 {
            font-size: 24px;
        }

        .recipe p {
            font-size: 16px;
            margin: 10px 0;
        }

        .recipe a {
            text-decoration: none;
            background-color: #A52A2A;
            color: #FFFDD0;
            padding: 10px 20px;
            border-radius: 5px;
        }
    </style>
{% endblock %}

{% block content %}
    <section>
        <h2>The newest recipes:</h2>
        {% for dish in page_obj %}
            <div class="recipe">
                <h3>{{ dish.dish_title }}</h3>
                <p>{{ dish.dish_ingredients|safe }}</p>
                <a href={% url 'main:detail_recipe' pk=dish.pk %}>View Recipe</a>
            </div>
        {% endfor %}
    </section>
{% endblock %}
